.activateAdminSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.activateAdminButton {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 20px;
    height: 40px;
    color: white;
    background-color: var(--purple-background);
    z-index: 1;
}
@media ( max-width: 480px ) {
    .activateText {
        width: 80%;
    }
}