.mainContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.adminForm {
    padding: 3% 0;
    height: auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--purple-background);
}
.adminForm label,
.adminForm input,
.adminForm button {
    width: 60%;
}
.adminForm label {
    color: white;
    margin-bottom: 5px;
}
.adminForm input {
    height: 30px;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 15px;
    color: var(--purple-color);
    outline: none;
}
.adminForm button {
    margin: 10px 0;
    height: 40px;
    color: white;
    background-color: var(--purple-color);
    border: none;
    outline: none;
}
.disabled {
    opacity: .5;
    cursor: not-allowed;
}
.linkLoginAdmin {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding: 15px 40px;
    background-color: var(--purple-background);
}
@media ( max-width: 480px ) {
    .adminForm {
        padding: 6% 0;
        width: 90%;
        min-height: 50%;
    }
    .adminForm label,
    .adminForm input,
    .adminForm button {
        font-size: 12px;
    }
}