.sectionContainer {
    position: absolute;
    top: 15vh;
    left: 5vw;
    height: 75vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    color: var(--text-color);
}
.textContainer {
    width: 70%;
    height: 100%;
    padding: 0 20px;
    overflow-y: scroll;
}
.textContainer {
    scrollbar-width: thin !important;
    scrollbar-color: var(--purple-background) var(--grey-background);
}
.textContainer::-webkit-scrollbar{
    width: 10px;
}
.textContainer::-webkit-scrollbar-track {
    background-color: var(--grey-background);
}
.textContainer::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 1px solid var(--grey-background);
    background-color: var(--purple-background);
}
.textContainer a {
    display: block;
    margin: 20px 0;
    color: var(--text-color);
}
@media ( max-width: 1024px ) {
    .textContainer {
        width: 80%;
    }
}
@media ( max-width: 480px ) {
    .textContainer{
        width: 100%;
        font-size: 12px;
    }
    .textContainer h2,
    .textContainer h3,
    .textContainer a {
        font-size: 14px;
    }
}
